@font-face {
  font-family: Poppins;
  src: url('/font/Poppins.ttf');
}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --dark-blue:#1a237e;
  --blue: #3f51b5;
  --violet: #7b1fa2;
  --purple: #9c27b0;
  --translusent-blue: rgba(63, 81, 181, 0.2);
}

html {
  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

body{
  background: url('./backgrounds/bg8.webp') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

li{
  list-style: none;
}

main {
  /* background-color: rgba(63, 81, 181, 0.2); translucent blue */
  min-height: 80vh;
  padding: 2rem;
  border-radius: 0 0 20px 20px;
  text-align: center;
  color: white;
  font-size: 48px;
  text-shadow: 2px 2px 5px  #5869d6;
}

#show-vid{
  width: 150px;
  font-size: 2rem;
  text-decoration: none;
  background-color: transparent;
  backdrop-filter: blur(0.4rem);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
}

.vid.active{
  display: grid;
}

.vid {
  height: 2500px;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  /* border: solid; */
  row-gap: 20px;
  column-gap: 30px;
  font-size: 30px;
  align-items: center;
  justify-items: center;
}

.vid div{
  max-width: 500px;
  width: 500px;
  min-height: 486px;
  border: 2px solid white;
  animation: show linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes show {
  0%{
    opacity: 0;
    scale: 0.5;
  }
  100%{
    opacity: 1;
    scale: 1;
  }
}

#largeviddiv video{
  width: 400px;
}

@media (max-width: 576px) {

  *{
    margin: 0;
    padding: 0;
  }

  body{
    text-align: center;
  }

  main h1 {
    font-size: 20px;
    text-align: center;
    margin: o auto  ;
  }

  main {
    max-width: 300px;
    padding: 0;
    margin: 0 auto;
  }

  header{
    max-width: 400px;
    margin: 0 auto;
    font-size: 5px;
  }

  .navbar{
    font-size: 10px;
    max-width: 250px;
  }

  .vid {
    width: 200px;
    height: 2000px;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0 auto;
  }
  
  .vid div {
    width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .vid h2 {
    font-size: 15px;
  }

  .vid video {
    height: 150px;
  }

  .specialcontainer {
    width: 200px;
    flex-direction: column;
  }

  .specialcontainer h2 {
    font-size: 10px;
  }

  .special video {
    height: 200px;
  }
  
  .main-container{
    display: flex;
    flex-direction: column;
  }
  #largeviddiv{
    width: 400px;
  }
}